<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="ace-responsive-menu navbar-nav" data-menu-style="horizontal" id="menu-portal">
      <li class="nav-item">
        <a class="nav-link" href="https://www.fsc.gov.et">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.fsc.gov.et/court-services/case-tracker">Case Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.fsc.gov.et/court-services">Court Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.fsc.gov.et/digital-law-library">Digital Law Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.fsc.gov.et/publications">Federal Cassation Decision Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.fsc.gov.et/judgments">Judgments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.fsc.gov.et/news-media">News Media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.fsc.gov.et/contacts">Contacts</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:;" id="languageDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">Language</a>
        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
          <li>
            <a class="dropdown-item" href="#">English (United Kingdom)</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">አማርኛ (Ethiopia)</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>