<div class="container mt-4 mb-4">
  <div class="row bg-light p-4">
    <div class="col-md-6">
      <h1 class="display-4">እንኳን ወደ ሲቪል ምዝገባ እና የነዋሪነት አገልግሎት ኤጀንሲ ዲጂታል መግቢያ በደህና መጡ</h1>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h5>አድራሻ</h5>
            </div>
            <div class="card-body">
              <p><strong>ስልክ፡</strong><br>
              7533
              <p><strong>ኢሜይል፡</strong><br>
              info&#64;aacrrsa.gov.et</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ds-home-coar></ds-home-coar>
<ds-home-news></ds-home-news>
@if (showDiscoverFilters) {
  <ds-configuration-search-page
    [sideBarWidth]="3"
    [showViewModes]="false"
    [searchEnabled]="false"
    [inPlaceSearch]="false"
    [showScopeSelector]="false">
    <ng-container searchContentTop *ngTemplateOutlet="homeContent"></ng-container>
  </ds-configuration-search-page>
}
@if (!showDiscoverFilters) {
  <div class="container">
    <ng-container *ngTemplateOutlet="homeContent"></ng-container>
  </div>
}
<ds-suggestions-popup></ds-suggestions-popup>

<ng-template #homeContent>
  <ds-search-form [inPlaceSearch]="false"
    [searchPlaceholder]="'ፈልግ...'">
  </ds-search-form>
  <ds-top-level-community-list></ds-top-level-community-list>
  @if (recentSubmissionspageSize>0) {
    <ds-recent-item-list></ds-recent-item-list>
  }
  <ds-koha-items></ds-koha-items>
</ng-template>