<div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-ncs mb-4">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-2">Federal Supreme Court of Ethiopia</h1>
        <p class="lead">Delivering Justice, Upholding the Constitution.</p>
        <p>The Digital Library and Archives provide access to:</p>
      </div>
    </div>
    <ul>
      <li>Federal Cassation Decisions</li>
      <li>Legal Publications and Journals</li>
      <li>Historical Court Archives and Documents</li>
    </ul>
    <p>Visit our official website at <a href="https://www.fsc.gov.et" target="_blank" role="link"
        tabindex="0">www.fsc.gov.et</a> for more information.
    </p>
  </div>
</div>